@import '../orders/orders.component.css';

.card-header .card-title input {
    height: 35px;
    padding: 4px;
    min-width: 100px !important;
}
.card-header .btn {
    height: 35px;
    margin-top: 0;
}

li.page-item.disabled.active>.page-link.page-pages {
    background-color: #51cbce !important;
    border-color: #51cbce !important;
    color: #fff !important;
    opacity: 1;
}
