<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="d-flex">
            <h4 class="card-title"> Products </h4>
            <div class="card-title d-flex ml-auto">
              <input type="text" #productS [value]="params?.name || null" class="form-control ml-2 mr-2" placeholder="Product..." (keyup.enter)="searchParamChange({name: productS.value || null, company: companyS.value || null, page: 1})">
              <input type="text" #companyS [value]="params?.company || null" class="form-control mr-2" placeholder="Company..." (keyup.enter)="searchParamChange({name: productS.value, company: companyS.value, page: 1})">
              <button class="btn btn-icon btn-primary search-btn" (click)="searchParamChange({name: productS.value || null, company: companyS.value || null, page: 1})">
                <i class="nc-icon nc-zoom-split"></i>
              </button>
              <div class="mt-auto mb-auto ml-5 p-2 d-flex">
                <p class="ml-2">All</p>
                <div class="form-check ml-1">
                  <label class="switch">
                    <input name="status" #status (change)="searchParamChange({active: $event.target.checked})" type="checkbox">
                    <span class="slider round"></span>
                  </label>
                </div>
                <p class="ml-1">Active</p>
              </div>
            </div>
            <a class="ml-auto card-title" routerLink="new">
              <button class="btn btn-danger ml-auto">
                <i class="fa fa-plus"></i> New Product
              </button>
            </a>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="text-secondary">
                <th class="text-center"> Code # </th>
                <th>Name </th>
                <th class="text-center">Company</th>
                <th class="text-center">Size / Variant</th>
                <th class="text-center">Unit</th>
                <th class="text-center">Price</th>
                <th class="text-center">Tax</th>
                <th class="text-center">Status</th>
                <th class="text-center">Actions </th>
              </thead>
              <tbody>
                <tr *ngFor="let product of products; let i=index">
                  <td class="text-center">{{product.code}}</td>
                  <td>{{ product.name }}</td>
                  <td class="text-center">{{ product.company }}</td>
                  <td class="text-center">{{ product?.size || '' + (product?.size && product?.variant ? ' / ': '') + product?.variant || '' }}</td>
                  <td class="text-center">{{ product?.unit }}</td>
                  <td class="text-center">{{ product.price }}</td>
                  <td class="text-center">{{ product.taxrate }}</td>
                  <td class="text-center" [ngClass]="{'text-success':product.status, 'text-delete':!product.status}">{{
                    product.status ? 'Active': 'Inactive' }}</td>
                  <td class="text-center">
                    <!-- <a><i class="fa fa-bullhorn text-info"></i></a> -->
                    <a *ngIf="product.status"><i class="fa fa-cart-plus text-dplum" data-toggle="tooltip"
                        data-placement="left" title="Add to Invoice"></i></a>
                    <a><i class="fa fa-edit text-prime" data-toggle="tooltip" data-placement="left" title="Edit"></i></a>
                    <a *ngIf="product.status"><i class="fa fa-times text-delete" data-toggle="tooltip" data-placement="left"
                        title="Deactivate"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
          <div class="row d-flex">
              <div class="p-2">
                  <div class="text-dplum" *ngIf="totalRecs > 0">{{totalRecs}} {{totalRecs > 1 ? 'records': 'record'}} found</div>
                  <div class="text-delete" *ngIf="totalRecs === 0">No Record Found</div>
              </div>
              <nav class="ml-auto">
                <ul class="pagination">
                  <li class="page-item" [ngClass]="{'disabled':curPage === 1}">
                    <a class="page-link" [routerLink]="" [queryParams]="{page:curPage-1}" tabindex="-1">Previous</a>
                  </li>
                  <li class="page-item" *ngFor="let pageIndex of navPages" [routerLink]="" [queryParams]="{page:pageIndex}" class="page-item"
                    [ngClass]="{disabled: pageIndex === curPage, active: pageIndex === curPage}"><a class="page-link">{{pageIndex}}</a></li>
                  <li class="page-item" [ngClass]="{'disabled':curPage === totalPages}">
                    <a class="page-link" [routerLink]="" [queryParams]="{page:curPage+1}">Next</a>
                  </li>
                </ul>
              </nav>
     
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
