<div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="d-flex">
              <h4 class="card-title"> Customers </h4>
              <a class="ml-auto card-title" routerLink="new">
                <button class="btn btn-danger ml-auto">
                  <i class="fa fa-plus"></i> New Customer
                </button>
              </a>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead class="text-secondary">
                  <th class="text-center"> Code # </th>
                  <th>Name </th>
                  <th class="text-center">Contact</th>
                  <th class="text-center">Email </th>
                  <th class="text-center">Contact 2</th>
                  <th class="text-center">Email 2</th>
                  <th class="text-center">Status </th>
                  <th class="text-center">Actions </th>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center">101</td>
                    <td>Ashish Bagaddeo</td>
                    <td class="text-center">+91 99860 99860</td>
                    <td class="text-center">ashish@bagaddeo.com</td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center text-success">Active</td>
                    <td class="text-center">
                      <!-- <a><i class="fa fa-bullhorn text-info"></i></a> -->
                      <a><i class="fa fa-cart-plus text-dplum" data-toggle="tooltip" data-placement="left" title="New Order"></i></a>
                      <a><i class="fa fa-edit text-prime" data-toggle="tooltip" data-placement="left" title="Edit"></i></a>
                      <a><i class="fa fa-user-times text-delete" data-toggle="tooltip" data-placement="left" title="Deactivate"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">102</td>
                    <td>Anushri Arora</td>
                    <td class="text-center">+91 88860 88860</td>
                    <td class="text-center">anushri@bagaddeo.com</td>
                    <td class="text-center">95000 95000</td>
                    <td class="text-center"></td>
                    <td class="text-center text-success">Active</td>
                    <td class="text-center">
                      <!-- <a><i class="fa fa-bullhorn text-info"></i></a> -->
                      <a><i class="fa fa-cart-plus text-dplum" data-toggle="tooltip" data-placement="left" title="New Order"></i></a>
                      <a><i class="fa fa-edit text-prime" data-toggle="tooltip" data-placement="left" title="Edit"></i></a>
                      <a><i class="fa fa-user-times text-delete" data-toggle="tooltip" data-placement="left" title="Deactivate"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">103</td>
                    <td>Anushri Arora</td>
                    <td class="text-center">+91 88860 88860</td>
                    <td class="text-center">anushri@bagaddeo.com</td>
                    <td class="text-center">95000 95000</td>
                    <td class="text-center">anushri@bagaddeo.com</td>
                    <td class="text-center text-warning">Inactive</td>
                    <td class="text-center">
                      <!-- <a><i class="fa fa-bullhorn text-info"></i></a> -->
                      <a><i class="fa fa-cart-plus text-dplum" data-toggle="tooltip" data-placement="left" title="New Order"></i></a>
                      <a><i class="fa fa-edit text-prime" data-toggle="tooltip" data-placement="left" title="Edit"></i></a>
                      <a><i class="fa fa-user-times text-delete" data-toggle="tooltip" data-placement="left" title="Deactivate"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer">
            <nav>
              <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                  <a class="page-link" tabindex="-1">Previous</a>
                </li>
                <li class="page-item active"><a class="page-link">1</a></li>
                <li class="page-item"><a class="page-link">2</a></li>
                <li class="page-item"><a class="page-link">3</a></li>
                <li class="page-item">
                  <a class="page-link">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  