input::placeholder {
    color: rgba(83, 82, 82, 0.452);
    /* font-size: 8; */
}

input:focus::placeholder {
    color: transparent;
}

label {
    color: rgb(22, 175, 175);
}

.row {
    padding: 4px;
}

.form-check-label {
    color: inherit;
}