<div class="d-flex card-deck justify-content-around">
  <div class="d-flex card card-stats">
    <div class="card-body">
      <div class="row">
        <div class="col-5 col-md-4">
          <div class="icon-big text-center icon-warning">
            <i class="nc-icon nc-globe text-warning"></i>
          </div>
        </div>
        <div class="col-7 col-md-8">
          <div class="numbers">
            <p class="card-category">Orders Pending</p>
            <p class="card-title">{{ pendingData.count }}
              <p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <hr>
      <div class="stats">
        <a routerLink="/orders"><i class="fas fa-sync-alt"></i> Update Status</a>
      </div>
    </div>
  </div>
  <div class="d-flex card card-stats">
    <div class="card-body ">
      <div class="row">
        <div class="col-5 col-md-4">
          <div class="icon-big text-center icon-warning">
            <i class="nc-icon nc-money-coins text-success"></i>
          </div>
        </div>
        <div class="col-7 col-md-8">
          <div class="numbers">
            <p class="card-category">Revenue <small class="text-lowercase"> (this year)</small></p>
            <p class="card-title">&#8377;{{ (pendingData.revenue || 0) + (completedData.revenue || 0 ) | currency:'INR':'' }}
              <p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer ">
      <hr>
      <div class="stats">
        <a routerLink="/reports"><i class="fas fa-chart-pie"></i> Other Reports</a>
      </div>
    </div>
  </div>
  <div class="d-flex card card-stats">
    <div class="card-body ">
      <div class="row">
        <div class="col-5 col-md-4">
          <div class="icon-big text-center icon-warning">
            <i class="nc-icon nc-vector text-danger"></i>
          </div>
        </div>
        <div class="col-7 col-md-8">
          <div class="numbers">
            <p class="card-category">Clients</p>
            <p class="card-title">23
              <p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer ">
      <hr>
      <div class="stats">
        <a routerLink="/clients/customers/new"><i class="fas fa-user-astronaut"></i> Add Client</a>
      </div>
    </div>
  </div>
  <div class="d-flex card card-stats">
    <div class="card-body ">
      <div class="row">
        <div class="col-5 col-md-4">
          <div class="icon-big text-center icon-warning">
            <i class="nc-icon nc-diamond text-primary"></i>
          </div>
        </div>
        <div class="col-7 col-md-8">
          <div class="numbers">
            <p class="card-category">Products</p>
            <p class="card-title">200
              <p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer ">
      <hr>
      <div class="stats">
        <a routerLink="/products/new"><i class="fas fa-puzzle-piece"></i> Add Product</a>
      </div>
    </div>
  </div>
</div>
