<div class="d-flex container h-100 w-100 flex-column" *ngIf="curOrder">
  <div>
    <ng-container *ngFor="let page of pages; let i=index">
      <div id="wb_Shape1" [ngClass]="{'d-none d-print-flex':i>0}" style="position: relative">
        <svg id="Shape1" height="257" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <linearGradient id="Shape1_gradient" gradientUnits="userSpaceOnUse" x1="0%" y1="0%" x2="100%" y2="100%">
              <stop offset="0%" stop-color="#4EB3CF" />
              <stop offset="100%" stop-color="#80DFBE" />
            </linearGradient>
            <path id="Shape1_shape" d="M0 0L 1200 0L 1200 200L 0 257L 0 30Z " />
          </defs>
          <clipPath id="Shape1_clippath">
            <use xlink:href="#Shape1_shape" />
          </clipPath>
          <use xlink:href="#Shape1_shape" clip-path="url(#Shape1_clippath)" style="fill:url(#Shape1_gradient);fill-opacity:0.39;stroke:#245580;stroke-width:0;z-index:0" />
        </svg>
        <div id="wb_Heading1" style="position:absolute;left:20px;top:29px;width:167px">
          <h2 id="Heading1"><b>INVOICE</b></h2>
        </div>
        <div id="wb_Text1" style="position:absolute;left:200px;top:27px">
          <span><strong>{{ company.name }}</strong></span></div>
        <div id="wb_Text2" style="position:absolute;left:200px;top:50px">
          <span> 
              {{ company.address }}, {{company.city}},
              {{company.zipcode}}, {{company.state}}, {{company.country}}
            <span class="text-secondary font-weight-bold p-1">|</span> 
            {{company.phone}}
          </span>
        </div>
        <table style="position:absolute;left:94px;top:101px" id="Table2">
          <tr>
            <td class="text-right"><span>Customer : </span></td>
            <td><span class="ml-2"> <strong> {{ curOrder.customer.name }} </strong></span></td>
          </tr>
          <tr>
            <td class="text-right"><span> Address : </span></td>
            <td><span class="ml-2"><strong>
                  {{ curOrder.customer.address }}, {{curOrder.customer.city}},
                  {{curOrder.customer.zipcode}}, {{curOrder.customer.state}}, {{curOrder.customer.country}}
                </strong></span></td>
          </tr>
          <tr>
            <td class="text-right"><span> Phone :</span></td>
            <td><span class="ml-2"><strong> {{curOrder.customer.phone1}} </strong></span></td>
          </tr>
          <tr>
            <td class="text-right"><span> </span></td>
            <td><span class="ml-2"> </span></td>
          </tr>
          <tr>
            <td class="text-right"><span>GSTN :</span></td>
            <td><span class="ml-2 text-uppercase"><strong> {{curOrder.customer.gstn || 'N/A'}}</strong></span></td>
          </tr>
        </table>
        <div id="wb_Text3" style="position:absolute;right:20px;top:27px;">
          <span><strong>GSTN</strong></span>
        </div>
        <div class="text-uppercase" id="wb_Text4" style="position:absolute;right:20px;top:50px;">
          <span>{{ company.gstn }}</span>
        </div>
        <div id="wb_Text7" style="position:absolute;right:20px;top:82px;">
          <span><strong>INVOICE NO</strong></span></div>
        <div id="wb_Text8" style="position:absolute;right:20px;top:105px;">
          <span>{{ curOrder.orderno }}</span>
        </div>
        <div id="wb_Text9" style="position:absolute;right:20px;top:137px;">
          <span><strong>DATE</strong></span>
        </div>
        <div id="wb_Text10" style="position:absolute;right:20px;top:160px;">
          <span>{{ curOrder.date | date:'dd MMMM, yyyy' }}</span>
        </div>
      </div>
      <div class="data-div">
        <table class="table data-table" id="Table1">
          <thead>
            <tr class="border-bottom" >
              <th>SNo</th>
              <th>ITEM</th>
              <th>QTY</th>
              <th>MRP</th>
              <th>RATE</th>
              <th>DISC%</th>
              <th>DISC</th>
              <th>TAX RATE</th>
              <th>TAX</th>
              <th>AMOUNT</th>
            </tr>
          </thead>
          <ng-container *ngFor="let k of [].constructor(page); let j=index">
            <tr>
              <td>{{ curOrder.details[j+pageStart[i]].itemno }}</td>
              <td>{{ curOrder.details[j+pageStart[i]].product.name }}</td>
              <td>{{ curOrder.details[j+pageStart[i]].quantity }}</td>
              <td>{{ curOrder.details[j+pageStart[i]].product.mrp | currency:'INR':'' }}</td>
              <td>{{ curOrder.details[j+pageStart[i]].price + (curOrder.details[j+pageStart[i]].product.mrp * (curOrder.details[j+pageStart[i]].product.margin/100)) | currency:'INR':'' }}</td>
              <td>{{ curOrder.details[j+pageStart[i]].discountrate | currency:'INR':'' }}</td>
              <td>{{ curOrder.details[j+pageStart[i]].discount | currency:'INR':'' }}</td>
              <td>{{ curOrder.details[j+pageStart[i]].product.taxrate }}</td>
              <td>{{ curOrder.details[j+pageStart[i]].tax | currency:'INR':'' }}</td>
              <td>{{ curOrder.details[j+pageStart[i]].total | currency:'INR':'' }}</td>
            </tr>
          </ng-container>
        </table>
      </div>
      <div *ngIf="i !== pages.length-1" class="d-none d-print-block">
        <p class="mt-4 text-right" style="page-break-after: always;">&nbsp; P.T.O </p>
        <p style="page-break-before: always;">&nbsp;</p>
      </div>
    </ng-container>
    <div class="summary-div">
      <div class="m-2" *ngIf="allTaxAmounts">
        <table style="width:400px;" id="Table4" class="ml-auto border">
          <tr class="border" *ngFor="let tax of allTaxRates">
            <td class="pl-3">{{ tax.indexOf('IGST') < 0 ? 'CGST@' + getTaxRate(tax)/2 : '' }}</td> <td class="text-right">{{
                tax.indexOf('IGST') < 0 ? (allTaxAmounts[tax]/2 | currency:'INR':'') : '' }}</td> <td class="pl-3">{{
                  tax.indexOf('IGST') < 0 ? 'SGST@' + getTaxRate(tax)/2 : tax }}</td> <td class="text-right">{{
                    (tax.indexOf('IGST')<0 ? allTaxAmounts[tax]/2 : allTaxAmounts[tax]) | currency:'INR':'' }}</td> </tr>
                      </table> </div> <div class="m-2">
                      <table style="height:74px" id="Table3" class="w-100 border">
                        <tr class="border">
                          <td><span class="p-1"><strong> AMOUNT IN WORDS:</strong></span></td>
                        </tr>
                        <tr>
                          <td><span class="p-1"> {{ getAmountInWords() }}</span></td>
                        </tr>
                      </table>
      </div>
      <div class="d-flex m-3">
        <table style="height:140px;" id="Table4" class="col-7 border">
          <tr>
            <td class="align-top text-center border-right"><span>&nbsp; Goods received in good condition.</span></td>
            <td class="align-bottom  text-center"><span>Signature of Authorized Person</span></td>
          </tr>
        </table>
        <table class="col-5 w-100 ml-auto text-right" style="height:160px;" id="Table5">
          <tr>
            <td><span> TOTAL AMOUNT </span></td>
            <td class="border"><span>{{(curOrder.total - curOrder.totaltax || 0) |
                currency:'INR':''}} &#8377;</span></td>
          </tr>
          <tr>
            <td><span> DISCOUNT</span></td>
            <td class="border"><span>{{(curOrder.discount || 0) | currency:'INR':''}} &#8377;</span></td>
          </tr>
          <tr>
            <td><span> TOTAL TAX </span></td>
            <td class="border"><span>{{(curOrder.totaltax || 0) | currency:'INR':''}} &#8377;</span></td>
          </tr>
          <tr>
            <td><span><strong> GRAND TOTAL </strong></span></td>
            <td class="border"><span><strong>{{ (curOrder.finalamount || 0) | currency:'INR':''}} &#8377;</strong></span></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="mt-auto w-100" id="wb_Shape2" style="position:relative;bottom:0px">
      <svg id="Shape2" height="106" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <defs>
          <linearGradient id="Shape2_gradient" gradientUnits="userSpaceOnUse" x1="0%" y1="0%" x2="100%" y2="100%">
            <stop offset="0%" stop-color="#4EB3CF" />
            <stop offset="100%" stop-color="#80DFBE" />
          </linearGradient>
          <path id="Shape2_shape" d="M0 30L 1200 0L 1200 106L 0 106L 0 30Z " />
        </defs>
        <clipPath id="Shape2_clippath">
          <use xlink:href="#Shape2_shape" />
        </clipPath>
        <use xlink:href="#Shape1_shape" clip-path="url(#Shape2_clippath)" style="fill:url(#Shape2_gradient);fill-opacity:0.39;stroke:#245580;stroke-width:0;" />
      </svg>
      <div *ngIf="company.gstn && company.gstn.length < 4" style="position:absolute;left:17px;top:50px;">
        <span><strong>Notes:</strong> TAX not applicable </span>
      </div>
      <div id="wb_Text11" style="position:absolute;left:17px;top:80px;">
        <span>E. &amp; O.E.</span>
      </div>
      <div id="wb_Text13" class="pull-right" style="position:absolute;top:15px;right:15px;">
        <span><strong>For {{company.name}}</strong></span>
      </div>
      <div id="wb_Text14" style="position:absolute;top:80px;right:15px;">
        <span>Signature</span>
      </div>
    </div>
  </div>
  <div class="d-print-none ml-auto mr-auto">
    <button type="button" [routerLink]="['/orders','display']" [queryParams]="{id:curOrder._id}" class="btn btn-secondary">Back</button>
    <button type="button" onclick="window.print();" class="btn btn-danger">Print</button>
  </div>
</div>
