<div class="d-flex container w-100 flex-column">
  <div id="wb_Shape1" style="position: relative">
    <svg id="Shape1" height="257" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <linearGradient id="Shape1_gradient" gradientUnits="userSpaceOnUse" x1="0%" y1="0%" x2="100%" y2="100%">
          <stop offset="0%" stop-color="#4EB3CF" />
          <stop offset="100%" stop-color="#80DFBE" />
        </linearGradient>
        <!-- <path id="Shape1_shape" d="M0 72L 997 0L 997 257L 0 257L 0 72Z "/> -->
        <path id="Shape1_shape" d="M0 0L 1200 0L 1200 200L 0 257L 0 30Z " />
      </defs>
      <clipPath id="Shape1_clippath">
        <use xlink:href="#Shape1_shape" />
      </clipPath>
      <use xlink:href="#Shape1_shape" clip-path="url(#Shape1_clippath)" style="fill:url(#Shape1_gradient);fill-opacity:0.39;stroke:#245580;stroke-width:0;z-index:0" />
    </svg>
    <div id="wb_Heading1" style="position:absolute;left:20px;top:29px;width:167px">
      <h2 id="Heading1"><b>INVOICE</b></h2>
    </div>
    <div id="wb_Text1" style="position:absolute;left:200px;top:27px;width:238px">
      <span><strong>Aarti Ventures</strong></span></div>
    <div id="wb_Text2" style="position:absolute;left:200px;top:50px;width:495px">
      <span>D 1107, Kalpataru Harmony, Wakad, Pune -
        411057 <span class="text-secondary font-weight-bold p-1">|</span> +44 7404480554</span></div>
    <table style="position:absolute;left:94px;top:101px;width:469px;height:105px;z-index:6;" id="Table2">
      <tr>
        <td class="text-right"><span>Customer : </span></td>
        <td><span class="ml-2"> <strong> Ashish Bagaddeo </strong></span></td>
      </tr>
      <tr>
        <td class="text-right"><span> Address : </span></td>
        <td><span class="ml-2"><strong> B 202, Kalpataru Harmony, Wakad, Pune 411057 </strong></span></td>
      </tr>
      <tr>
        <td class="text-right"><span> Phone :</span></td>
        <td><span class="ml-2"><strong> +91 9604584259</strong></span></td>
      </tr>
      <tr>
        <td class="text-right"><span> </span></td>
        <td><span class="ml-2"> </span></td>
      </tr>
      <tr>
        <td class="text-right"><span>GSTN :</span></td>
        <td><span class="ml-2"><strong> N/A</strong></span></td>
      </tr>
    </table>
    <div id="wb_Text3" style="position:absolute;right:20px;top:27px;">
      <span><strong>GSTN</strong></span>
    </div>
    <div id="wb_Text4" style="position:absolute;right:20px;top:50px;">
      <span>N/A</span>
    </div>
    <div id="wb_Text7" style="position:absolute;right:20px;top:82px;">
      <span><strong>INVOICE NO</strong></span></div>
    <div id="wb_Text8" style="position:absolute;right:20px;top:105px;">
      <span>N/A</span>
    </div>
    <div id="wb_Text9" style="position:absolute;right:20px;top:137px;">
      <span><strong>DATE</strong></span>
    </div>
    <div id="wb_Text10" style="position:absolute;right:20px;top:160px;">
      <span>26th January, 2019</span>
    </div>
  </div>
  <div class="d-flex vh-100 w-100 data-div">
    <table class="table data-table" id="Table1">
      <thead>
      <tr class="border-bottom">
        <th><span>SNo</span></th>
        <th><span>ITEM</span></th>
        <th><span>QTY</span></th>
        <th><span>MRP</span></th>
        <th><span>RATE</span></th>
        <th><span>DISC(%)</span></th>
        <th><span>DISC</span></th>
        <th><span>TAX RATE</span></th>
        <th><span>TAX</span></th>
        <th><span>PRICE</span></th>
        <th><span>AMOUNT</span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><span>001</span></td>
        <td><span>New Baby Oil</span></td>
        <td><span>12345</span></td>
        <td><span>12345.00</span></td>
        <td><span>12345.00</span></td>
        <td><span>10.00</span></td>
        <td><span>12345.00</span></td>
        <td><span>GST@15%</span></td>
        <td><span>12345.00</span></td>
        <td><span>123456.00</span></td>
        <td><span>123456.00</span></td>
      </tr>
      <tr>
        <td><span>001</span></td>
        <td><span>New Baby Oil</span></td>
        <td><span>12345</span></td>
        <td><span>12345.00</span></td>
        <td><span>12345.00</span></td>
        <td><span>10.00</span></td>
        <td><span>12345.00</span></td>
        <td><span>GST@15%</span></td>
        <td><span>12345.00</span></td>
        <td><span>123456.00</span></td>
        <td><span>123456.00</span></td>
      </tr>
      <tr>
        <td><span>002</span></td>
        <td><span>New Baby Oil</span></td>
        <td><span>12345</span></td>
        <td><span>12345.00</span></td>
        <td><span>12345.00</span></td>
        <td><span>10.00</span></td>
        <td><span>12345.00</span></td>
        <td><span>GST@15%</span></td>
        <td><span>12345.00</span></td>
        <td><span>123456.00</span></td>
        <td><span>123456.00</span></td>
      </tr>
      <tr>
        <td><span>003</span></td>
        <td><span>New Baby Oil</span></td>
        <td><span>12345</span></td>
        <td><span>12345.00</span></td>
        <td><span>12345.00</span></td>
        <td><span>10.00</span></td>
        <td><span>12345.00</span></td>
        <td><span>GST@15%</span></td>
        <td><span>12345.00</span></td>
        <td><span>123456.00</span></td>
        <td><span>123456.00</span></td>
      </tr>
      <tr>
        <td><span>004</span></td>
        <td><span>New Baby Oil</span></td>
        <td><span>12345</span></td>
        <td><span>12345.00</span></td>
        <td><span>12345.00</span></td>
        <td><span>10.00</span></td>
        <td><span>12345.00</span></td>
        <td><span>GST@15%</span></td>
        <td><span>12345.00</span></td>
        <td><span>123456.00</span></td>
        <td><span>123456.00</span></td>
      </tr>
      <tr>
        <td><span>005</span></td>
        <td><span>New Baby Oil</span></td>
        <td><span>12345</span></td>
        <td><span>12345.00</span></td>
        <td><span>12345.00</span></td>
        <td><span>10.00</span></td>
        <td><span>12345.00</span></td>
        <td><span>GST@15%</span></td>
        <td><span>12345.00</span></td>
        <td><span>123456.00</span></td>
        <td><span>123456.00</span></td>
      </tr>
      <tr>
        <td><span>006</span></td>
        <td><span>New Baby Oil</span></td>
        <td><span>12345</span></td>
        <td><span>12345.00</span></td>
        <td><span>12345.00</span></td>
        <td><span>10.00</span></td>
        <td><span>12345.00</span></td>
        <td><span>GST@15%</span></td>
        <td><span>12345.00</span></td>
        <td><span>123456.00</span></td>
        <td><span>123456.00</span></td>
      </tr>
      <tr>
        <td><span>007</span></td>
        <td><span>New Baby Oil</span></td>
        <td><span>12345</span></td>
        <td><span>12345.00</span></td>
        <td><span>12345.00</span></td>
        <td><span>10.00</span></td>
        <td><span>12345.00</span></td>
        <td><span>GST@15%</span></td>
        <td><span>12345.00</span></td>
        <td><span>123456.00</span></td>
        <td><span>123456.00</span></td>
      </tr>
      <tr>
        <td><span>008</span></td>
        <td><span>New Baby Oil</span></td>
        <td><span>12345</span></td>
        <td><span>12345.00</span></td>
        <td><span>12345.00</span></td>
        <td><span>10.00</span></td>
        <td><span>12345.00</span></td>
        <td><span>GST@15%</span></td>
        <td><span>12345.00</span></td>
        <td><span>123456.00</span></td>
        <td><span>123456.00</span></td>
      </tr>
      <tr>
        <td><span>009</span></td>
        <td><span>New Baby Oil</span></td>
        <td><span>12345</span></td>
        <td><span>12345.00</span></td>
        <td><span>12345.00</span></td>
        <td><span>10.00</span></td>
        <td><span>12345.00</span></td>
        <td><span>GST@15%</span></td>
        <td><span>12345.00</span></td>
        <td><span>123456.00</span></td>
        <td><span>123456.00</span></td>
      </tr>
      <tr>
        <td><span>010</span></td>
        <td><span>New Baby Oil</span></td>
        <td><span>12345</span></td>
        <td><span>12345.00</span></td>
        <td><span>12345.00</span></td>
        <td><span>10.00</span></td>
        <td><span>12345.00</span></td>
        <td><span>GST@15%</span></td>
        <td><span>12345.00</span></td>
        <td><span>123456.00</span></td>
        <td><span>123456.00</span></td>
      </tr>
      <tr>
        <td><span>011</span></td>
        <td><span>New Baby Oil</span></td>
        <td><span>12345</span></td>
        <td><span>12345.00</span></td>
        <td><span>12345.00</span></td>
        <td><span>10.00</span></td>
        <td><span>12345.00</span></td>
        <td><span>GST@15%</span></td>
        <td><span>12345.00</span></td>
        <td><span>123456.00</span></td>
        <td><span>123456.00</span></td>
      </tr>
      <tr>
        <td><span>012</span></td>
        <td><span>New Baby Oil</span></td>
        <td><span>12345</span></td>
        <td><span>12345.00</span></td>
        <td><span>12345.00</span></td>
        <td><span>10.00</span></td>
        <td><span>12345.00</span></td>
        <td><span>GST@15%</span></td>
        <td><span>12345.00</span></td>
        <td><span>123456.00</span></td>
        <td><span>123456.00</span></td>
      </tr>
      <div class="page-break" style="display:block"> - </div>
      <tr>
        <td><span>013</span></td>
        <td><span>New Baby Oil</span></td>
        <td><span>12345</span></td>
        <td><span>12345.00</span></td>
        <td><span>12345.00</span></td>
        <td><span>10.00</span></td>
        <td><span>12345.00</span></td>
        <td><span>GST@15%</span></td>
        <td><span>12345.00</span></td>
        <td><span>123456.00</span></td>
        <td><span>123456.00</span></td>
      </tr>
      <tr>
        <td><span>014</span></td>
        <td><span>New Baby Oil</span></td>
        <td><span>12345</span></td>
        <td><span>12345.00</span></td>
        <td><span>12345.00</span></td>
        <td><span>10.00</span></td>
        <td><span>12345.00</span></td>
        <td><span>GST@15%</span></td>
        <td><span>12345.00</span></td>
        <td><span>123456.00</span></td>
        <td><span>123456.00</span></td>
      </tr>
      <tr>
        <td><span>015</span></td>
        <td><span>New Baby Oil</span></td>
        <td><span>12345</span></td>
        <td><span>12345.00</span></td>
        <td><span>12345.00</span></td>
        <td><span>10.00</span></td>
        <td><span>12345.00</span></td>
        <td><span>GST@15%</span></td>
        <td><span>12345.00</span></td>
        <td><span>123456.00</span></td>
        <td><span>123456.00</span></td>
      </tr>
      <tr>
        <td><span>016</span></td>
        <td><span>New Baby Oil</span></td>
        <td><span>12345</span></td>
        <td><span>12345.00</span></td>
        <td><span>12345.00</span></td>
        <td><span>10.00</span></td>
        <td><span>12345.00</span></td>
        <td><span>GST@15%</span></td>
        <td><span>12345.00</span></td>
        <td><span>123456.00</span></td>
        <td><span>123456.00</span></td>
      </tr>
      <tr>
        <td><span>017</span></td>
        <td><span>New Baby Oil</span></td>
        <td><span>12345</span></td>
        <td><span>12345.00</span></td>
        <td><span>12345.00</span></td>
        <td><span>10.00</span></td>
        <td><span>12345.00</span></td>
        <td><span>GST@15%</span></td>
        <td><span>12345.00</span></td>
        <td><span>123456.00</span></td>
        <td><span>123456.00</span></td>
      </tr>
    </tbody>
    </table>
  </div>
  <div class="m-2">
    <table style="width:508px;" id="Table4" class="ml-auto border">
      <tr class="border">
        <td class="text-center"><span> CGST@6%</span></td>
        <td class="text-center"><span> 24.00</span></td>
        <td class="text-center"><span>SGST@6%</span></td>
        <td class="text-center"><span>24.00</span></td>
      </tr>
      <tr class="border">
        <td class="text-center"><span> CGST@6%</span></td>
        <td class="text-center"><span> 24.00</span></td>
        <td class="text-center"><span>SGST@6%</span></td>
        <td class="text-center"><span>24.00</span></td>
      </tr>
      <tr class="border">
        <td class="text-center"><span> CGST@6%</span></td>
        <td class="text-center"><span> 24.00</span></td>
        <td class="text-center"><span>SGST@6%</span></td>
        <td class="text-center"><span>24.00</span></td>
      </tr>
    </table>
  </div>
  <div class="m-2">
    <table style="height:74px" id="Table3" class="w-100 border">
      <tr class="border">
        <td><span class="p-1"><strong> AMOUNT IN WORDS:</strong></span></td>
      </tr>
      <tr>
        <td><span class="p-1"> Five Hundred and Seventy Seven Only</span></td>
      </tr>
    </table>
  </div>
  <div class="d-flex m-3">
    <table style="height:140px;" id="Table4" class="col-6 border">
      <tr>
        <td class="align-top text-center"><span>&nbsp; Goods received in good condition.</span></td>
        <td class="align-bottom  text-center"><span>Signature of Authorized Person</span></td>
      </tr>
    </table>
    <table class="col-6 w-100 ml-auto text-right" style="height:160px;" id="Table5">
      <tr>
        <td><span> TOTAL AMOUNT </span></td>
        <td class="border"><span> 600.00</span></td>
      </tr>
      <tr>
        <td><span> DISCOUNT</span></td>
        <td class="border"><span> 100.00</span></td>
      </tr>
      <tr>
        <td><span> TOTAL TAX </span></td>
        <td class="border"><span> 77.00</span></td>
      </tr>
      <tr>
        <td><span><strong> GRAND TOTAL </strong></span></td>
        <td class="border"><span><strong> 577.00</strong></span></td>
      </tr>
    </table>
  </div>
  <div>
    <div id="wb_Shape2" style="position:relative;">
      <svg id="Shape2" height="106" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <defs>
          <linearGradient id="Shape2_gradient" gradientUnits="userSpaceOnUse" x1="0%" y1="0%" x2="100%" y2="100%">
            <stop offset="0%" stop-color="#4EB3CF" />
            <stop offset="100%" stop-color="#80DFBE" />
          </linearGradient>
          <path id="Shape2_shape" d="M0 30L 1200 0L 1200 106L 0 106L 0 30Z " />
        </defs>
        <clipPath id="Shape2_clippath">
          <use xlink:href="#Shape2_shape" />
        </clipPath>
        <use xlink:href="#Shape1_shape" clip-path="url(#Shape2_clippath)" style="fill:url(#Shape2_gradient);fill-opacity:0.39;stroke:#245580;stroke-width:0;" />
      </svg>
      <div id="wb_Text12" style="position:absolute;left:17px;top:50px;">
        <span><strong>Notes:</strong> TAX not applicable </span>
      </div>
      <div id="wb_Text11" style="position:absolute;left:17px;top:80px;">
        <span>E. &amp; O.E.</span>
      </div>
      <div id="wb_Text13" class="pull-right" style="position:absolute;top:15px;right:15px;">
        <span><strong>For Aarti Ventures</strong></span>
      </div>
      <div id="wb_Text14" style="position:absolute;top:68px;right:15px;">
        <span>Signature</span>
      </div>
    </div>
  </div>
  <div class="d-print-none mx-auto">
    <button type="button" onclick="window.print();" class="btn btn-danger">Print</button>
  </div>
</div>
