<div class="col-md-10  mx-auto">
  <div class="card">
    <div class="card-header">
      <div class="d-flex">
        <h5 *ngIf="mode === 'edit' && !taxRate" class="card-title mr-auto ml-auto"> Tax Rate not found </h5>
        <h5 *ngIf="mode === 'new'" class="card-title"> New Tax Rate </h5>
        <h5 *ngIf="mode === 'edit' && taxRate && taxRate.name" class="card-title"> Edit Tax Rate </h5>
        <!-- <h5 *ngIf="mode === 'display' && taxRate && taxRate._id" class="card-title"> Product </h5> -->
        <!-- <div *ngIf="taxRateForm && taxRateForm.submitted && taxRateForm.invalid" class="mx-auto pl-3 d-flex text-delete">
          <p>Incomplete or Invalid form. <br class="d-block d-md-none"> Please correct and re-submit.</p>
        </div> -->
        <div class="p-3 ml-auto">
          <div *ngIf="messageSuccess" class="text-success">{{messageSuccess}}</div>
          <div *ngIf="messageFail" class="text-delete">{{messageFail}}</div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form *ngIf="((mode === 'edit' || mode === 'display') && taxRate) || mode === 'new'" #taxRateForm="ngForm" name="taxRateForm"
        (ngSubmit)="saveProduct(taxRateForm)" validate>
        <fieldset [disabled]="mode === 'display'">
          <!-- FORM ROW 1 -->
          <div class="d-flex flex-wrap justify-content-around">
            <div class="form-group col-md-4" [ngClass]="{'has-danger':!name.valid && name.touched}">
              <label for="name">Name</label>
              <input required minlength="3" type="text" [(ngModel)]="taxRate.name" #name="ngModel" name="name" class="form-control has-danger"
                placeholder="Name">
            </div>
          </div>
          <!-- Validation for FORM ROW 1 -->
          <div class="d-flex" *ngIf="code?.touched || name?.touched || company?.touched || hsn?.touched">
            <ul class="text-delete ml-5">
              <li *ngIf="name.touched && (name.errors?.required || name.errors?.minlength)">
                Name is required & must be minimum 3 chars.
              </li>
            </ul>
          </div>

          <!-- FORM ROW 3 -->
          <div class="row mt-3">
            <h6 class="mx-auto text-delete"> <i class="fa fa-rupee-sign"></i> </h6>
          </div>
          <div class="d-flex flex-sm-nowwrap justify-content-center">
            <div class="col-md-4 pr-1">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <span class="input-group-text p-2">Rate %</span>
                </div>
                <input required type="number" min="0" pattern="^[+]?([.]\d+|\d+([.]\d+)?)$" [(ngModel)]="taxRate.rate"
                  name="rate" #mrp="ngModel" class="form-control taxrate" placeholder="0.00">
              </div>
            </div>
          </div>
        </fieldset>
        <div class="row mt-3">
          <div class="update mx-auto">
            <button type="button" class="btn btn-info btn-round" routerLink="/taxrates">Back</button>
            <button *ngIf="mode !== 'display'" class="btn btn-danger btn-round ml-2">Save</button>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        
      </div>
    </div>
  </div>
</div>
<div class="modal fade modal-primary" id="editStock" tabindex="-1" role="dialog" aria-labelledby="editStock"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <div class="modal-profile ml-auto mr-auto">
          <i class="nc-icon nc-cart-simple"></i>
        </div>
      </div>
      <div class="modal-body">
        <p>Increase or Decrease Quantity by?</p>
        <div class="form-group">
          <!-- <label for="units">Unit</label> -->
          <input type="number" ngModel #pqty="ngModel" name="qpty" class="form-control" placeholder="0">
        </div>
      </div>
      <div class="modal-footer">
        <!-- <div class="left-side">
          <button type="button" class="btn btn-link btn-warning" (click)="changeStockQty('del', pqty.value)"
            data-dismiss="modal">Reduce</button>
        </div> -->
        <!-- <div class="divider"></div> -->
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <!-- <div class="divider"></div> -->
        <div class="right-side">
          <button type="button" class="btn btn-link btn-success"
            data-dismiss="modal">Add</button>
        </div>
      </div>
    </div>
  </div>
</div>
