<div class="sidebar" data-color="grey" data-active-color="danger">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
-->
  <div class="logo">
    <a href="" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="../assets/img/logo-small.png">
      </div>
    </a>
    <a href="" class="simple-text logo-normal">
      HISAAB
      <!-- <div class="logo-image-big">
        <img src="../assets/img/logo-big.png">
      </div> -->
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="active ">
        <a href="#">
          <i class="nc-icon nc-bank"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="nc-icon nc-tile-56"></i>
          <p>Orders</p>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="nc-icon nc-single-02"></i>
          <p>Clients</p>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="nc-icon nc-palette"></i>
          <p>Products</p>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="nc-icon nc-map-big"></i>
          <p>Reports</p>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="nc-icon nc-settings"></i>
          <p>Settings</p>
        </a>
      </li>
    </ul>
  </div>
</div>
