.sidebar {
    width: 12rem;
}

.sidebar-wrapper {
    max-width: 12rem;
}

.off-canvas-sidebar .logo a.logo-mini, .sidebar .logo a.logo-mini {
    opacity: 1;
}

.off-canvas-sidebar .sidebar-wrapper, .sidebar .sidebar-wrapper {
    overflow: hidden;
}

.off-canvas-sidebar .logo a.logo-normal, .sidebar .logo {
    padding-left: 16%;
}

li:not(.active) a:hover{
    color: rgb(246, 251, 255) !important;
}

b.caret {
    margin-top: 0.45rem;
}

