<div class="sidebar" data-color="grey" data-active-color="danger">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
-->
  <div class="logo">
    <a routerLinkActive="active" routerLink="dashboard" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="../assets/img/hisaab-white.png">
      </div>
    </a>
    <a routerLinkActive="active" routerLink="dashboard" class="simple-text logo-normal">
      HISAAB
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li routerLinkActive="active" routerLink="dashboard">
        <a>
          <i class="nc-icon nc-bank"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li routerLinkActive="active" routerLink="orders">
        <a>
          <i class="nc-icon nc-tile-56"></i>
          <p>Orders</p>
        </a>
      </li>
      <li routerLinkActive="active"><a href="#clientSubmenu" data-toggle="collapse" aria-expanded="false"><i class="nc-icon nc-single-02"></i>
          <p>Clients<b class="caret"></b></p>
        </a>
        <div class="collapse" id="clientSubmenu">
          <ul class="nav">
            <li [class.active]="isActive('clients/customers')" [routerLink]="['clients','customers']">
              <a>
                <!-- <span class="sidebar-mini-icon">C</span> -->
                <span class="sidebar-normal">Customers</span>
              </a>
            </li>
            <li [class.active]="isActive('clients/suppliers')" [routerLink]="['clients','suppliers']">
              <a>
                <!-- <span class="sidebar-mini-icon">S</span> -->
                <span class="sidebar-normal">Suppliers</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li routerLink="products" routerLinkActive="active">
        <a>
          <i class="nc-icon nc-palette"></i>
          <p>Products</p>
        </a>
      </li>
      <li routerLink="taxrates" routerLinkActive="active">
        <a>
          <i class="nc-icon nc-palette"></i>
          <p>TaxRates</p>
        </a>
      </li>
      <li routerLink="reports" routerLinkActive="active">
        <a>
          <i class="nc-icon nc-map-big"></i>
          <p>Reports</p>
        </a>
      </li>
      <li routerLink="settings" routerLinkActive="active">
        <a>
          <i class="nc-icon nc-settings"></i>
          <p>Settings</p>
        </a>
      </li>
    </ul>
  </div>
</div>
