<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="d-flex">
            <h4 class="card-title"> Orders </h4>
            <a class="ml-auto card-title" routerLink="new">
              <button class="btn btn-danger ml-auto">
                <i class="fa fa-plus"></i> New Order
              </button>
            </a>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="text-secondary">
                <th class="text-center">Order #</th>
                <th>Customer </th>
                <th class="text-center d-none d-md-table-cell">Items #</th>
                <th class="text-right d-none d-md-table-cell">Total &#8377;</th>
                <th class="text-right d-none d-sm-table-cell">Discount &#8377;</th>
                <th class="text-right">Bill Date</th>
                <th class="text-right">Final Amount &#8377;</th>
                <th class="text-right">Status </th>
                <th class="text-center">Actions </th>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center">1001</td>
                  <td>Ashish Bagaddeo</td>
                  <td class="text-center d-none d-md-table-cell">20</td>
                  <td class="text-right d-none d-md-table-cell">1234567.00</td>
                  <td class="text-right d-none d-sm-table-cell">100.00</td>
                  <td class="text-right">10-12-2018</td>
                  <td class="text-right">1234467.00</td>
                  <td class="text-right text-danger">Pending Delivery</td>
                  <td class="text-center">
                    <!-- <a><i class="fa fa-bullhorn text-info"></i></a> -->
                    <a><i class="fa fa-edit text-danger"></i></a>
                    <a><i class="fa fa-forward text-success"></i></a>
                  </td>
                </tr>
                <tr>
                  <td class="text-center">1002</td>
                  <td>Anushri Arora</td>
                  <td class="text-center d-none d-md-table-cell">36</td>
                  <td class="text-right d-none d-md-table-cell">2564.50</td>
                  <td class="text-right d-none d-sm-table-cell">200.00</td>
                  <td class="text-right">10-12-2018</td>
                  <td class="text-right">2364.50</td>
                  <td class="text-right text-success">Complete</td>
                  <td class="text-center">
                    <!-- <a><i class="fa fa-bullhorn text-info"></i></a> -->
                    <a><i class="fa fa-edit text-danger"></i></a>
                    <a><i class="fa fa-check text-success"></i></a>
                  </td>
                </tr>
                <tr>
                  <td class="text-center">1003</td>
                  <td>Neelam Arora</td>
                  <td class="text-center d-none d-md-table-cell">666</td>
                  <td class="text-right d-none d-md-table-cell">555666.77</td>
                  <td class="text-right d-none d-sm-table-cell">0.00</td>
                  <td class="text-right">10-12-2018</td>
                  <td class="text-right">555666.77</td>
                  <td class="text-right text-dplum">Pending Payment</td>
                  <td class="text-center">
                    <!-- <a><i class="fa fa-bullhorn text-info"></i></a> -->
                    <a><i class="fa fa-edit text-danger"></i></a>
                    <a><i class="fa fa-forward text-success"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
          <nav>
            <ul class="pagination justify-content-end">
              <li class="page-item disabled">
                <a class="page-link" tabindex="-1">Previous</a>
              </li>
              <li class="page-item active"><a class="page-link">1</a></li>
              <li class="page-item"><a class="page-link">2</a></li>
              <li class="page-item"><a class="page-link">3</a></li>
              <li class="page-item">
                <a class="page-link">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
