<div class="content">
  <div *ngIf="alertMsgFail" class="alert alert-danger alert-dismissible fade show">
    <button type="button" aria-hidden="true" class="close" (click)="alertMsgFail=''" data-dismiss="alert" aria-label="Close">
      <i class="nc-icon nc-simple-remove"></i>
    </button>
    <span>
      <b> Failed - </b> {{alertMsgFail}}</span>
  </div>
  <div *ngIf="alertMsgSuccess" class="alert alert-success alert-dismissible fade show">
    <button type="button" aria-hidden="true" class="close" (click)="alertMsgSuccess=''" data-dismiss="alert" aria-label="Close">
      <i class="nc-icon nc-simple-remove"></i>
    </button>
    <span>
      <b> Success - </b> {{alertMsgSuccess}}</span>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="d-flex flex-wrap justify-content-between">
            <div class="card-title">
              <a routerLink="new" queryParamsHandling="merge">
                <button class="btn btn-danger ml-2 new-btn">
                  <i class="fa fa-plus-circle"></i> NEW
                </button>
              </a>
            </div>
            <div class="card-title d-inline-flex mx-auto">
              <input type="text" #orderS [value]="params?.orderno || null" class="form-control col-3 mx-1" placeholder="Order Id..."
                (keyup.enter)="searchParamChange({orderno: orderS.value || null, client: clientS.value || null, page: 1})">
              <input type="text" #clientS [value]="params?.client || null" class="form-control mx-2" placeholder="Client..."
                (keyup.enter)="searchParamChange({orderno: orderS.value, client: clientS.value, page: 1})">
              <button class="btn btn-icon btn-primary search-btn mx-1" (click)="searchParamChange({orderno: orderS.value || null, client: clientS.value || null, page: null})">
                <i class="nc-icon nc-zoom-split"></i>
              </button>
            </div>
            <div class="d-inline-flex  mx-auto">
              <div class="card-title d-inline-flex">
                <button class="btn btn-outline-danger date-btn btn-round btn-sm mt-1" data-toggle="modal" data-target="#dateSearch">Dates</button>
                <div class="text-secondary font-italic ml-1">
                  <div>{{ params.fromDate | date:'dd MMM yyyy' || '' }}</div>
                  <div>{{ params.toDate | date:'dd MMM yyyy' || '' }}</div>
                </div>
              </div>
              <div class="ml-5 mt-2">
                <div class="d-inline-flex">
                  <span class="m-1">All</span>
                  <div class="form-check m-1">
                    <label class="switch">
                      <input name="statusOpt" (change)="searchParamChange({statusOpt: $event.target.checked}); statusOpt = !statusOpt"
                        type="checkbox" [checked]="statusOpt">
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <span class="m-1">Pending</span>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead class="text-secondary">
                  <th class="text-center"> Order # </th>
                  <th>Client </th>
                  <th class="text-center">Items #</th>
                  <th class="text-right">Total &#8377;</th>
                  <th class="text-right">Discount &#8377;</th>
                  <th class="text-right">Bill Date</th>
                  <th class="text-right">Final Amount &#8377;</th>
                  <th class="text-right">Status</th>
                  <th class="text-right">Actions </th>
                </thead>
                <div class="lds-ripple" *ngIf="isLoading"><div></div><div></div></div>
                <tbody *ngIf="!isLoading">
                  <tr *ngFor="let order of orders; let i=index">
                    <td class="text-center">{{order.orderno}}</td>
                    <td [routerLink]="['display']" [queryParams]="{id:order._id}" queryParamsHandling="merge">{{
                      order.customer.name }}</td>
                    <td class="text-center">{{ order.details.length }}</td>
                    <td class="text-right">{{ order.total | currency:'INR':'' }}</td>
                    <td class="text-right">{{ order?.discount | currency:'INR':'' || '' }}</td>
                    <td class="text-right">{{ order.date | date }}</td>
                    <td class="text-right">{{ order.finalamount | currency:'INR':'' }}</td>
                    <td class="text-right" [ngClass]="order.status === 'Completed' ? 'text-success' : 'text-delete'">
                      <b>{{ order.status }}</b>
                    </td>
                    <td class="text-right">
                      <a *ngIf="order.status !== 'Completed'" data-toggle="modal" (click)="curOrder=order"
                        data-target="#statusModal">
                        <i class="far fa-check-circle text-success2" data-toggle="tooltip" data-placement="left" title="Completed"></i>
                      </a>
                      <a><i class="fa fa-edit text-prime" [routerLink]="['edit']" [queryParams]="{id:order._id}"
                          queryParamsHandling="merge" data-toggle="tooltip" data-placement="left" title="Edit"></i></a>
                      <a data-toggle="modal" (click)="curOrder=order" data-target="#deleteModal">
                        <i class="fa fa-times text-delete" data-toggle="tooltip" data-placement="left" title="Delete"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer">
            <div class="d-flex flex-wrap justify-content-between">
              <div class="mt-4 p-2">
                <div class="text-dplum" *ngIf="totalRecs > 0">{{totalRecs}} {{totalRecs > 1 ? 'records': 'record'}}
                  found</div>
                <div class="text-delete" *ngIf="totalRecs === 0">No Record Found</div>
              </div>
              <div *ngIf="totalRecs > 0">
                <nav class="ml-auto mt-4">
                  <ul class="pagination">
                    <li class="page-item" [ngClass]="{'disabled':curPage === 1}">
                      <a class="page-link" [routerLink]="" [queryParams]="{page:curPage-1}" queryParamsHandling="merge"
                        tabindex="-1">Previous</a>
                    </li>
                    <li *ngFor="let pageIndex of navPages" class="page-item" [ngClass]="{'disabled':curPage === pageIndex, 'active': pageIndex === curPage}">
                      <a class="page-link page-pages" [routerLink]="" [queryParams]="{page:pageIndex}"
                        queryParamsHandling="merge">{{pageIndex}}</a>
                    </li>
                    <li class="page-item" [ngClass]="{'disabled':curPage === totalPages}">
                      <a class="page-link" [routerLink]="" [queryParams]="{page:curPage+1}" queryParamsHandling="merge">Next</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="nc-icon nc-simple-remove"></i>
          </button>
          <h4 class="title title-up">Delete Order</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete order <b *ngIf="curOrder" class="text-delete">{{curOrder.orderno || 0}}</b> ?
          </p>
        </div>
        <div class="modal-footer">
          <div class="left-side">
            <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Never mind</button>
          </div>
          <div class="divider"></div>
          <div class="right-side">
            <button type="button" class="btn btn-danger btn-link" data-dismiss="modal" (click)="deleteOrder()">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header justify-content-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i class="nc-icon nc-simple-remove"></i>
            </button>
            <h4 class="title title-up">Change Status</h4>
          </div>
          <div class="modal-body">
            <p>Change status to complete for order <b *ngIf="curOrder" class="text-delete">{{curOrder.orderno}}</b> ?</p>
          </div>
          <div class="modal-footer">
            <div class="left-side">
              <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Never mind</button>
            </div>
            <div class="divider"></div>
            <div class="right-side">
              <button type="button" class="btn btn-success btn-link" data-dismiss="modal" (click)="changeOrderStatus()">Complete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="modal fade modal-primary" id="dateSearch" tabindex="-1" role="dialog" aria-labelledby="dateSearch"
    aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <div class="modal-profile ml-auto mr-auto">
            <i class="nc-icon nc-time-alarm"></i>
          </div>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="searchFromDate">From Date</label>
            <input type="date" #sfromDate name="sfromDate" [value]="params.fromDate || ''" class="form-control"
              placeholder="0">
          </div>
          <div class="form-group">
            <label for="searchEndDate">To Date</label>
            <input type="date" #stoDate name="stoDate" value="params.toDate || ''" class="form-control" placeholder="0">
          </div>
        </div>
        <div class="modal-footer">
          <div class="left-side">
            <button type="button" class="btn btn-link btn-warning" data-dismiss="modal">Cancel</button>
          </div>
          <div class="divider"></div>
          <div class="right-side">
            <button type="button" class="btn btn-link btn-success" (click)="searchParamChange({fromDate: sfromDate, toDate: stoDate})"
              data-dismiss="modal">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
