<div class="col-md-11 mr-auto ml-auto">
  <div *ngIf="alertMsgFail" class="alert alert-danger alert-dismissible fade show">
    <button type="button" aria-hidden="true" class="close" (click)="alertMsgFail=null" data-dismiss="alert" aria-label="Close">
      <i class="nc-icon nc-simple-remove"></i>
    </button>
    <span>
      <b> Failed - </b> {{alertMsgFail}}</span>
  </div>
  <div *ngIf="alertMsgSuccess" class="alert alert-success alert-dismissible fade show">
    <button type="button" aria-hidden="true" class="close" (click)="alertMsgSuccess=null" data-dismiss="alert"
      aria-label="Close">
      <i class="nc-icon nc-simple-remove"></i>
    </button>
    <span>
      <b> Success - </b> Order <b>{{ curOrderNo }}</b> {{alertMsgSuccess}}</span>
  </div>
  <!--      Wizard container        -->
  <div class="wizard-container">
    <div class="card card-wizard active" data-color="primary" id="wizardProfile">
      <form novalidate="novalidate">
        <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
        <div class="card-header text-center">
          <div class="d-flex justify-content-center">
            <a class="ml-3 mt-1">
              <button class="btn btn-sm btn-danger ml-2 new-btn">
                <i class="fa fa-print"></i> Print
              </button>
            </a>
            <h3 class="card-title mx-auto">
              Order <span *ngIf="curOrder && curOrder.orderno">({{ curOrder.orderno || 0 }})</span>
            </h3>
            <a class="mr-3 mt-1" routerLink="/orders">
              <button class="btn btn-sm btn-info ml-2 new-btn">
                <!-- <i class="fa fa-ban"></i> Leave -->Leave
              </button>
            </a>
          </div>
          <div class="wizard-navigation">
            <ul class="nav nav-pills mb-3" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" [ngClass]="{'active': fragment === 'customer'}" href="#customer" id="customer-tab"
                  data-toggle="pill" role="tab" aria-controls="customer" aria-selected="true" (click)="fragment='customer'">
                  <i class="nc-icon nc-single-02"></i> Customer
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': fragment === 'details'}" href="#details" id="details-tab"
                  data-toggle="pill" role="tab" aria-controls="details" aria-selected="false" (click)="fragment='details'">
                  <i class="nc-icon nc-cart-simple"></i> Details
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': fragment === 'summary'}" href="#summary" id="summary-tab"
                  data-toggle="pill" role="tab" aria-controls="summary" aria-selected="false" (click)="fragment='summary'">
                  <i class="nc-icon nc-credit-card"></i> Summary
                </a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane fade show active" [ngClass]="{'show active': fragment === 'customer'}" id="customer"
                role="tabpanel" aria-labelledby="customer-tab">
                <form *ngIf="mode !== 'display'" (ngSubmit)="showCustomers()" name="customerSearch">
                  <div class="row mt-4">
                    <div class="form-group col-md-7 mx-auto">
                      <input type="text" name="customerS" [(ngModel)]="customerS" class="form-control has-danger"
                        placeholder="Type few characters and search...">
                      <button type="button" #customerSBtn data-toggle="modal" data-target="#customerModal" class="btn btn-sm btn-primary"
                        (click)="onCustomerSearch({name: customerS, page: 1})">Search</button>
                    </div>
                  </div>
                </form>
                <div class="row mt-2" *ngIf="curOrder && curOrder.customer">
                  <div class="mx-auto">
                    <h5> {{curOrder.customername}} </h5>
                    <div class="d-flex justify-content-center font-weight-bold">
                      <div class="col-md-12 mx-auto">{{curOrder.customer.phone1}}</div>
                      <div class="text-center text-danger mx-2"><i class="fas fa-envelope"></i></div>
                      <div class="col-md-12 mx-auto">{{curOrder.customer.email1}} </div>
                    </div>
                    <div class="mt-3">
                      <div>{{curOrder.customer.address}}</div>
                      <div>{{curOrder.customer.city}}, {{curOrder.customer.state}}</div>
                      <div>{{curOrder.customer.zipcode}} {{curOrder.customer.country}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" [ngClass]="{'show active': fragment === 'details'}" id="details" role="tabpanel"
                aria-labelledby="details-tab">
                <div *ngIf="mode !== 'display'" class="d-inline-flex mr-auto search-box">
                  <form class="form-inline" (ngSubmit)="showProducts()" name="productSearch">
                    <input type="text" name="codeS" [(ngModel)]="codeS" class="form-control col-2 mx-2" placeholder="Code..."
                      (keyup.enter)="showProducts()">
                    <input type="text" name="productS" [(ngModel)]="productS" class="form-control" placeholder="Product..."
                      (keyup.enter)="showProducts()">
                    <input type="text" name="companyS" [(ngModel)]="companyS" class="form-control mx-2" placeholder="Company..."
                      (keyup.enter)="showProducts()">
                    <button type="button" #productSBtn data-toggle="modal" data-target="#productModal" class="btn btn-icon btn-primary search-btn"
                      (click)="onProductSearch({code: codeS || null, name: productS, company: companyS, page: 1})">
                      <i class="nc-icon nc-zoom-split"></i>
                    </button>
                  </form>
                </div>
                <form #productForm="ngForm" name="productForm" (ngSubmit)="saveProduct(productForm)" validate>
                  <fieldset [disabled]="mode === 'display'">
                    <div class="table-responsive">
                      <table class="table">
                        <thead class="">
                          <tr>
                            <th>SNo #</th>
                            <th class="text-left">Product</th>
                            <th></th>
                            <th>Company</th>
                            <th class="text-right">Disc (%)</th>
                            <th>Tax (&#8377;)</th>
                            <th class="text-right">Price (&#8377;)</th>
                            <th class="text-right">Qty</th>
                            <th class="text-right">Amount (&#8377;)</th>
                          </tr>
                        </thead>
                        <div class="text-danger" *ngIf="!curOrder || !curOrder.details || curOrder.details.length === 0">
                          No Items
                        </div>
                        <tbody *ngIf="curOrder && curOrder.details && curOrder.details.length > 0">
                          <tr *ngFor="let item of curOrder.details; let i=index">
                            <td class="td-number"> {{ item.itemno }} </td>
                            <td class="td-name text-secondary font-weight-bold text-left">
                              {{ item.product.name }}
                              <br>
                              <small *ngIf="item.product && item.product.size" class="very-small">Size:
                                {{item.product?.size}} </small>
                              <span *ngIf="item.product && item.product.size" class="text-warning">| </span>
                              <small *ngIf="item.product && item.product.variant" class="very-small">Variant:
                                {{item.product?.variant}} </small>
                              <span *ngIf="item.product && item.product.variant" class="text-warning"> | </span>
                              <small *ngIf="item.product && item.product.unit" class="very-small">Units:
                                {{item.product?.unit}}</small>
                              <span *ngIf="item.product && item.product.unit" class="text-warning"> | </span>
                              <small *ngIf="item.product && item.product.taxrate" class="very-small">{{item.product?.taxrate}}</small>
                            </td>
                            <td></td>
                            <td class="fit">{{ item.product.company }}</td>
                            <td class="td-number text-right">
                              <div class="d-inline-flex">
                                <div class="mr-1">{{ item.discountrate | currency:'INR':'' }}</div>
                                <a *ngIf="mode !== 'display'" data-toggle="modal" (click)="curProd = item; editType='Discount'"
                                  data-target="#editModal">
                                  <i class="fa fa-marker text-success" data-toggle="tooltip" data-placement="left"
                                    title="Edit Discount"></i>
                                </a>
                              </div>
                            </td>
                            <td>{{ item.tax | currency:'INR':'' }}</td>
                            <td class="td-number text-right">
                              {{ item.price + (item.product.mrp * (item.product.margin/100)) | currency:'INR':'' }}
                            </td>
                            <td class="td-number text-right">
                              <div class="d-inline-flex">
                                <div class="ml-3 mr-1">{{item.quantity}}</div>
                                <a *ngIf="mode !== 'display'" data-toggle="modal" (click)="curProd = item; editType='Quantity'"
                                  data-target="#editModal">
                                  <i class="fa fa-marker text-success" data-toggle="tooltip" data-placement="left"
                                    title="Edit Quantity"></i>
                                </a>
                              </div>
                            </td>
                            <td class="td-number text-right">
                              {{ item.total | currency:'INR':'' }}
                            </td>
                            <td class="td-actions">
                              <a *ngIf="mode !== 'display'" data-toggle="modal" (click)="curProd = item" data-target="#deleteModal">
                                <i class="fa fa-trash-alt text-danger" data-toggle="tooltip" data-placement="left"
                                  title="Remove Item"></i>
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </fieldset>
                </form>
              </div>
              <div class="tab-pane fade" [ngClass]="{'show active': fragment === 'summary'}" id="summary" role="tabpanel"
                aria-labelledby="summary-tab">
                <h6 *ngIf="!curOrder || !curOrder.customer" class="text-danger mx-auto mt-5">
                  Please select customer first !!
                </h6>
                <div *ngIf="curOrder && curOrder.customer" class="d-flex justify-content-around">
                  <div>
                    <div class="card mx-1 card-summary">
                      <div class="card-header final-card-header">
                        <h6>{{curOrder?.customername}}</h6>
                      </div>
                      <div class="card-body col-sm-12">
                        <ul class="list-group list-group-flush left-side-list">
                          <li class="d-flex-wrap justify-content-center list-group-item">
                            <!-- <div class="d-inline-flex"> -->
                              <div>Order Date : <b> {{ curOrder.date | date:'dd MMM yyyy' }} </b>
                                <a class="ml-2" *ngIf="mode !== 'display'" data-toggle="modal" data-target="#dateModal">
                                  <i class="fa fa-marker text-danger" data-toggle="tooltip" data-placement="left" title="Change Date"></i>
                                </a>
                              </div>
                            <!-- </div> -->
                          </li>
                          <li class="d-flex-nowrap list-group-item">
                            <div>Status </div>
                            <div class="d-inline-block justify-content-center">
                              <div class="font-weight-bold d-inline" [ngClass]="curOrder.status === 'Completed' ? 'text-success' : 'text-delete'">
                                {{ curOrder ? curOrder.status : '' }}
                              </div>
                              <a class="ml-2" *ngIf="mode !== 'display'" (click)="changeOrderStatus()">
                                <i data-toggle="tooltip" data-placement="left" title="Change Status" [ngClass]="curOrder.status === 'Completed' ? 'fa fa-undo-alt text-danger' : 'far fa-check-circle text-success'"></i>
                              </a>
                            </div>
                          </li>
                          <li class="d-flex-nowrap list-group-item">
                            <div>Total Items </div>
                            <div class="font-weight-bold">{{curOrder.details.length || '0'}}</div>
                          </li>
                          <li class="d-flex-nowrap list-group-item">
                            <div>Tax Rates Applicable </div>
                            <div *ngIf="!alltaxrates || alltaxrates === ''" class="font-weight-bold very-small">
                              None
                            </div>
                            <div *ngIf="alltaxrates && alltaxrates !== ''" class="font-weight-bold very-small">
                              <span *ngFor="let taxrate of alltaxrates;let i=index">
                                <span *ngIf="i !== 0" class="text-danger"> | </span>
                                {{ taxrate }}
                              </span>
                            </div>
                          </li>
                          <li class="d-flex-nowrap list-group-item">
                            <div>Additional Discount
                              <a class="ml-2" *ngIf="mode !== 'display'" (click)="editType='Overall Discount'" data-toggle="modal"
                                data-target="#editModal">
                                <i class="fa fa-marker text-danger" data-toggle="tooltip" data-placement="left" title="Edit Discount"></i>
                              </a>
                            </div>
                            <div class="font-weight-bold very-small">Discount: {{curOrder.discountrate || 0 }} %</div>
                          </li>
                          <li class="d-flex-nowrap list-group-item">
                            <div>Delivery Address </div>
                            <div class="font-weight-bold">
                              {{curOrder.customer.address}},
                              {{curOrder.customer.city}}, {{curOrder.customer.state}},
                              {{curOrder.customer.zipcode}}, {{curOrder.customer.country}}
                            </div>
                          </li>
                        </ul>
                      </div>
                      <!-- <div class="card-footer">
                            Footer
                          </div> -->
                    </div>
                  </div>
                  <div class="ml-auto col-5">
                    <form #summary="ngForm" name="summaryForm" (ngSubmit)="saveOrder(summaryForm)" validate>
                      <fieldset [disabled]="mode === 'display'">
                        <h5 class="info-text"> Final Summary</h5>
                        <ul class="list-group list-group-flush final-summary">
                          <li class="d-inline-flex list-group-item justify-content-between">
                            <div class="">Total Amount</div>
                            <div class="font-weight-bold">{{(curOrder.total - curOrder.totaltax || 0) |
                              currency:'INR':''}} &#8377;</div>
                          </li>
                          <li class="d-inline-flex list-group-item justify-content-between">
                            <div class="">Discount Amount</div>
                            <div class="font-weight-bold">{{(curOrder.discount || 0) | currency:'INR':''}} &#8377;</div>
                          </li>
                          <li class="d-inline-flex list-group-item justify-content-between ">
                            <div class="">Tax Amount</div>
                            <div class="font-weight-bold">{{(curOrder.totaltax || 0) | currency:'INR':''}} &#8377;</div>
                          </li>
                          <li class="d-inline-flex list-group-item justify-content-between font-weight-bold final-amount">
                            <div class="text-dark">Final Amount </div>
                            <div>{{ (curOrder.finalamount || 0) | currency:'INR':''}} &#8377;</div>
                          </li>
                        </ul>
                      </fieldset>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- CARD FOOTER -->
          <div class="card-footer">
            <div *ngIf="fragment !== 'customer'" class="pull-left">
              <input (click)="onPrevious()" type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous'
                value='Previous' />
            </div>
            <div class="pull-right">
              <!-- <input type='button' class='btn btn-next btn-fill btn-rose btn-wd' name='next' value='Next' /> -->
              <input (click)="onNext()" type='button' class='btn btn-next btn-fill btn-rose btn-wd' name='finish'
                [disabled]="mode !== 'display' && fragment === 'summary' && curOrder?.details?.length === 0" [value]="fragment === 'customer' || fragment === 'details' ? 'Next' : mode === 'display' ? 'Close' : 'Save'" />
            </div>
            <!-- <div class="clearfix"></div> -->
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- wizard container -->
</div>

<!-- PRODUCT SEARCH MODAL -->
<div class="modal fade modal-product" id="productModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog productModal">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="nc-icon nc-simple-remove"></i>
        </button>
        <h5 class="modal-title" id="myModalLabel">Select Products</h5>
        <div class="d-inline-flex mr-auto search-box">
          <input type="text" name="codeS" [(ngModel)]="codeS" class="form-control col-2 mx-2" placeholder="Code..."
            (keyup.enter)="onProductSearch({code: codeS || null, name: productS || null, company: companyS || null, page: 1})">
          <input type="text" name="productS" [(ngModel)]="productS" class="form-control" placeholder="Product..."
            (keyup.enter)="onProductSearch({code: codeS || null, name: productS || null, company: companyS || null, page: 1})">
          <input type="text" name="companyS" [(ngModel)]="companyS" class="form-control mx-2" placeholder="Company..."
            (keyup.enter)="onProductSearch({code: codeS || null, name: productS, company: companyS, page: 1})">
          <button class="btn btn-icon btn-primary search-btn" (click)="onProductSearch({code: codeS || null, name: productS, company: companyS, page: 1})">
            <i class="nc-icon nc-zoom-split"></i>
          </button>
        </div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="text-secondary">
                <th> Select </th>
                <th class="text-center"> Code # </th>
                <th>Name </th>
                <th>Company</th>
                <th class="text-right">MRP</th>
                <th class="text-center">Stock</th>
              </thead>
              <div class="lds-ripple mt-3" *ngIf="isModalDataLoading">
                <div></div>
                <div></div>
              </div>
              <tbody *ngIf="!isModalDataLoading">
                <tr *ngFor="let product of products; let i=index">
                  <td class="text-center fit">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input #productCheck (click)="addProductToArr(product, productCheck.checked)" class="form-check-input"
                          type="checkbox">
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </td>
                  <td class="text-center">{{product.code}}</td>
                  <td>{{
                    product.name }} <br>
                    <small>
                      {{ product?.size || '' + (product?.size && product?.variant ? ' / ':
                      '') +
                      product?.variant || '' }}
                      {{ product?.unit }}
                      {{ product.taxrate }}
                    </small>
                  </td>
                  <td class="fit">{{ product.company }}</td>
                  <td class="text-right">{{ product.mrp | currency:'INR':'' }}</td>
                  <!-- <td class="text-center"></td> -->
                  <td class="text-center" [ngClass]="product.stock > 0 ? 'text-success' : 'text-delete'"><b>{{
                      product.stock !== 0 ? product.stock : 'Nil' }}</b></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <div class="mt-4 p-2 mr-auto">
          <div class="text-dplum" *ngIf="totalRecs > 0">{{totalRecs}} {{totalRecs > 1 ? 'records': 'record'}}
            found</div>
          <div class="text-delete" *ngIf="totalRecs === 0">No Record Found</div>
        </div>
        <div class="mx-auto">
          <button type="button" class="btn btn-info btn-round" (click)="tempProdArr=[]" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-info btn-round" (click)="addProductsToOrder()" data-dismiss="modal">Add</button>
        </div>
        <div *ngIf="totalRecs > 0">
          <nav class="ml-auto mt-4">
            <ul class="pagination">
              <li class="page-item" [ngClass]="{'disabled':curPage === 1}">
                <a class="page-link" (click)="onProductSearch({code: codeS || null, name: productS || null, company: companyS || null, page: curpage-1})"
                  tabindex="-1">Previous</a>
              </li>
              <li *ngFor="let pageIndex of navPages" class="page-item" [ngClass]="{'disabled':curPage === pageIndex, 'active': pageIndex === curPage}">
                <a class="page-link page-pages" (click)="onProductSearch({code: codeS || null, name: productS || null, company: companyS || null, page: pageIndex})">{{pageIndex}}</a>
              </li>
              <li class="page-item" [ngClass]="{'disabled':curPage === totalPages}">
                <a class="page-link" (click)="onProductSearch({code: codeS || null, name: productS || null, company: companyS || null, page: curPage+1})">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- CUSTOMER SEARCH MODAL -->
<div class="modal fade modal-customer" id="customerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog productModal">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="nc-icon nc-simple-remove"></i>
        </button>
        <div class="d-inline-flex justify-content-around">
          <h5 class="modal-title mr-5" id="myModalLabel">Select Customer</h5>
          <div class="d-inline-flex mr-auto search-box">
            <input type="text" name="customerS" [(ngModel)]="customerS" class="form-control" placeholder="Customer..."
              (keyup.enter)="onCustomerSearch({name: customerS || null, page: 1})">
            <button class="btn btn-icon btn-primary search-btn" (click)="onCustomerSearch({name: customerS || null, page: 1})">
              <i class="nc-icon nc-zoom-split"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="lds-ripple mt-3" *ngIf="isModalDataLoading">
          <div></div>
          <div></div>
        </div>
        <div class="row" *ngIf="!isModalDataLoading">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="text-secondary">
                <th class="text-center"> Select </th>
                <th class="text-center"> SNO </th>
                <th>Name </th>
                <th>Contact</th>
              </thead>
              <tbody>
                <tr *ngFor="let customer of customers; let i=index">
                  <td class="text-right fit">
                    <div class="form-check-radio ml-3 mt-2">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="customerCheck" #customerCheck (click)="tempCust = customer"
                          ngValue="customer">
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </td>
                  <td class="text-center">{{
                    ((curPage-1)*10) + i + 1 }}</td>
                  <td>{{customer.name }}</td>
                  <td>{{ customer.phone1 }}</td>
                  <td>{{ customer.email1 }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <div class="mt-4 p-2 mr-auto">
          <div class="text-dplum" *ngIf="totalRecs > 0">{{totalRecs}} {{totalRecs > 1 ? 'records': 'record'}}
            found</div>
          <div class="text-delete" *ngIf="totalRecs === 0">No Record Found</div>
        </div>
        <div class="mx-auto">
          <button type="button" class="btn btn-info btn-round" (click)="tempCust=null" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-info btn-round" (click)="addCustomerToOrder()" data-dismiss="modal">Select</button>
        </div>
        <div *ngIf="totalRecs > 0">
          <nav class="ml-auto mt-4">
            <ul class="pagination">
              <li class="page-item" [ngClass]="{'disabled':curPage === 1}">
                <a class="page-link" (click)="onCustomerSearch({ name: customerS || null, page: curpage-1})" tabindex="-1">Previous</a>
              </li>
              <li *ngFor="let pageIndex of navPages" class="page-item" [ngClass]="{'disabled':curPage === pageIndex, 'active': pageIndex === curPage}">
                <a class="page-link page-pages" (click)="onCustomerSearch({ name: customerS || null, page: pageIndex})">{{pageIndex}}</a>
              </li>
              <li class="page-item" [ngClass]="{'disabled':curPage === totalPages}">
                <a class="page-link" (click)="onCustomerSearch({ name: customerS || null, page: curPage+1})">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- PRODUCT EDIT MODAL -->
<div class="modal fade modal-primary" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <div class="modal-profile ml-auto mr-auto">
          <i class="nc-icon nc-cart-simple"></i>
        </div>
      </div>
      <div class="modal-body">
        <p>Set {{editType}}</p>
        <div class="form-group">
          <!-- <label for="units">Unit</label> -->
          <input type="number" ngModel #editValue="ngModel" name="editValue" class="form-control" placeholder="0"
            [value]="editType==='Quantity' ? curProd?.quantity : editType==='Discount' ? curProd?.discountrate : curOrder?.discountrate || 0">
        </div>
      </div>
      <div class="modal-footer">
        <div class="left-side">
          <button type="button" class="btn btn-link btn-success" data-dismiss="modal">Close</button>
        </div>
        <div class="divider"></div>
        <!-- <div class="divider"></div> -->
        <div class="right-side">
          <button type="button" class="btn btn-link btn-success" (click)="editProduct(editValue.value)" data-dismiss="modal">Change</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- PRODUCT DELETE MODAL -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="nc-icon nc-simple-remove"></i>
        </button>
        <h4 class="title title-up">Delete Item</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete <b class="text-delete">{{curProd?.product.name}}</b>?
        </p>
      </div>
      <div class="modal-footer">
        <div class="left-side">
          <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Never mind</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
          <button type="button" class="btn btn-danger btn-link" data-dismiss="modal" (click)="deleteOrderItem()">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade modal-primary" id="dateModal" tabindex="-1" role="dialog" aria-labelledby="dateModal"
    aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <div class="modal-profile ml-auto mr-auto">
            <i class="nc-icon nc-time-alarm"></i>
          </div>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="orderDate">Choose Date</label>
            <input type="date" #orderDate name="orderDate" [value]="curOrder?.date | date:'yyyy-MM-dd'" class="form-control">
          </div>
        </div>
        <div class="modal-footer">
          <div class="left-side">
            <button type="button" class="btn btn-link btn-warning" data-dismiss="modal">Cancel</button>
          </div>
          <div class="divider"></div>
          <div class="right-side">
            <button type="button" class="btn btn-link btn-success" (click)="changeOrderDate(orderDate.value)"
              data-dismiss="modal">Set</button>
          </div>
        </div>
      </div>
    </div>
  </div>