/* @import '../orders/orders.component.css'; */

.card-wizard {
  height: 650px;
}

.card-wizard .tab-content {
  min-height: 410px;
  padding: 10px 0;
}

.table-responsive {
  padding-top: 10px;
  overflow-x: auto;
  overflow-y: scroll;
  max-height: 330px;
}

.card-body {
  padding-top: 0px;
}

.tab-content {
  padding-top: 10px;
}

.table td,
.table th {
  padding: 8px;
  padding-left: 2px;
  padding-right: 2px;
  margin: 0%;
  border-bottom: 0px;
}

.very-small {
  font-size: 11px;
  color: rgb(83, 80, 80);
  font-weight: 500;
  font-family: Verdana, default;
}

.final-summary {
  font-size: 16px;
}

li.final-amount {
  border-color: rgb(131, 130, 133);
  border-width: 3px;
  border-radius: 5px;
  border-bottom-width: 5px !important;
}

/* .list-group-flush:last-child .list-group-item:last-child {
} */

.search-box {
  height: 32px;
  margin-bottom: 5px;
}

.search-btn {
  height: 32px;
  margin: 0px;
}

.nav-item {
    width: 33.3%;
}

.nav-pills .nav-item .nav-link.active {
  background-color: #66615b;
  cursor: default;
}

.nav-pills .nav-item .nav-link:not(.active):hover {
  background-color: #6e6f74;
}

.nav-pills .nav-item:nth-child(3) .nav-link {
  border-radius: 0px 0 0 0px !important;
}
.nav-pills .nav-item:first-child .nav-link {
  border-radius: 0px 0 0 0px !important;
}

input::placeholder {
    color: rgba(83, 82, 82, 0.452);
    /* font-size: 8; */
  }
  
  input:focus::placeholder {
    color: transparent;
  }
  
  label {
    /* color: rgb(22, 175, 175); */
    font-weight: 600;
  }
  
  .row {
    padding: 4px;
  }
  
  .form-check-label {
    color: inherit;
  }
  
  .form-group .input-group-append .input-group-text,
  .form-group .input-group-prepend .input-group-text,
  .input-group .input-group-append .input-group-text,
  .input-group .input-group-prepend .input-group-text {
    padding: 10px 0 10px 10px;
    font-size: 13px;
    font-weight: 600;
  }
  
  input:disabled,
  select:disabled {
    background: aliceblue;
    cursor: default;
  }
  
  span.input-group-text {
    background-color: lavender;
  }
  
  .flex-container {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .card.card-summary {
      border-radius: 30px;
      box-shadow: 0px 6px 10px 4px rgba(0, 0, 0, .10);
  }

  .modal-dialog:not(.modal-sm) {
    max-width: 900px !important;
    height: 600px !important;
  }

  .modal-dialog:not(.modal-sm) .modal-body {
    min-height: 400px;
  }

  .table td.fit, 
  .table th.fit {
      white-space: nowrap;
      width: 1%;
  }

  td a {
    cursor: pointer;
  }

  .left-side-list .list-group-item {
    padding: .25rem 1.25rem;
}

li a {
  cursor: pointer;
}

tr {
  cursor: pointer;
}

.selected {
  font-weight: 900;
  background-color: rgb(255, 212, 187) !important;
  cursor: default;
}

.modal-close {
  margin-top: 0.2em;
  margin-left: 25em;
}