/* You can add global styles to this file, and also import other style files */
.text-dplum {
    color: rgb(219, 63, 219);
}

.text-delete {
   color: #dc3545!important;
}

.text-prime {
    color: #007bff!important;
}